<%= form_with(model: cadastro_moradore, local: true) do |form| %>
  <% if cadastro_moradore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cadastro_moradore.errors.count, "error") %> prohibited this cadastro_moradore from being saved:</h2>

      <ul>
        <% cadastro_moradore.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :endereco %>
    <%= form.text_area :endereco %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
