<p id="notice"><%= notice %></p>

<h1>Cadastro Moradores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Endereco</th>
      <th>Email</th>
      <th>Telefone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cadastro_moradores.each do |cadastro_moradore| %>
      <tr>
        <td><%= cadastro_moradore.nome %></td>
        <td><%= cadastro_moradore.endereco %></td>
        <td><%= cadastro_moradore.email %></td>
        <td><%= cadastro_moradore.telefone %></td>
        <td><%= link_to 'Show', cadastro_moradore %></td>
        <td><%= link_to 'Edit', edit_cadastro_moradore_path(cadastro_moradore) %></td>
        <td><%= link_to 'Destroy', cadastro_moradore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cadastro Moradore', new_cadastro_moradore_path %>
