<p id="notice"><%= notice %></p>
<%= provide :titulo , 'Moradores' %>
 <div class='table -responsive -md'> 
  <h2>Moradores Cadastrados</h2> 
  <table class="table table -bordered">
  <thead class="thead -light">
  <tr> 
  <th scope="col" width="40%">Nome </th> 
    <th scope="col" width="35%">Endereço</th> 
    <th scope="col" width="15%">Email</th> 
    <th scope="col" width="15%">Telefone</th> 
 </tr> 
     </thead > 
     <tbody>
     <% @cadastro_moradores.each do |cadastro_moradore| %>
       <tr>
         <td><%= cadastro_moradore.nome %></td>
         <td><%= cadastro_moradore.endereco %></td>
         <td><%= cadastro_moradore.email %></td>
         <td><%= cadastro_moradore.telefone %></td>
         <td><%= link_to 'Exibir', cadastro_moradore, class: 'btn btn-secondary btn-sm' %></td>
         <td><%= link_to 'Editar', edit_cadastro_moradore_path(cadastro_moradore),class: 'btn btn-secondary btn-sm' %></td>
         <td><%= link_to 'Excluir', cadastro_moradore, method: :delete, data: { confirm: 'Deseja Excluir?' },class:'btn btn-danger btn-sm' %></td>
       </tr>
     <% end %>
   </tbody>
   </table >
   <%= link_to 'Novo Cadastro', new_cadastro_moradore_path , class: 'btn btn-success btn-sm' %>
 </div>
